xsdSchemas/LeaserSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="Leaser" type="Leaser"/>
	<xs:complexType name="Leaser">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string"/>
			<xs:element name="secondName" type="xs:string"/>
			<xs:element name="lastName" type="xs:string"/>
			<xs:element name="phoneNumber" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
